<!-- left sidebar -->
<!-- ============================================================== -->
<div class="nav-left-sidebar sidebar-dark">
  <div class="menu-list">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="d-xl-none d-lg-none" routerLink="/admin">Dashboard Admin</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <li class="nav-divider">Menu</li>
          <li class="nav-item">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin"
                  ><i class="fa fa-hashtag" aria-hidden="true"></i>DashBord</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/users"
                  ><i class="fa fa-users" aria-hidden="true"></i>Users</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/videos"
                  ><i class="fa fa-video-camera" aria-hidden="true"></i
                  >Videos</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/promote"
                  ><i class="fa fa-product-hunt" aria-hidden="true"></i
                  >Promotion</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/promotetype"
                  ><i class="fa fa-product-hunt" aria-hidden="true"></i>Type
                  Promotion</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/admin/visacard"
                  ><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Visa
                  Card</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-divider">Features</li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="collapse"
              aria-expanded="false"
              data-target="#submenu-7"
              aria-controls="submenu-7"
              ><i class="fas fa-fw fa-inbox"></i>Inbox
              <span class="badge badge-secondary">New</span></a
            >
            <div id="submenu-7" class="collapse submenu">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/InboxMail"
                    ><i class="fa fa-inbox" aria-hidden="true"></i>Inbox</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/InboxMail/SentEmail"
                    ><i class="fa fa-paper-plane" aria-hidden="true"></i>Sent
                    Email
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/EditHomePage"
              ><i class="fa fa-pencil mr-0" aria-hidden="true"></i
              ><i class="fa fa-home ml-0" aria-hidden="true"></i> Manage Home
              Page</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
<!-- ============================================================== -->
