<div class="container forget-password-all">
  <div class="heading-rigester">TikTok Forget PassWord</div>
  <div class="Regster-div">
    <form [formGroup]="createForget" (ngSubmit)="ForgetPassWord()">
      <div class="col-lg-12 mb-4">
        <label class="label" for="input-first-name">Enter New Password </label>
        <input
          type="Password"
          class="rigester-input mt-1"
          placeholder="Password"
          formControlName="newPassword"
          required
          (keyup)="CheckPassWord()"
        />
        <div *ngIf="this.createForget.controls['newPassword'].value">
          <p class="valid-Passwrd">Your Password Must Have .?</p>
          <div
            class="erorr-checed {{
              checkLength ? 'color-sucess' : 'color-erorr'
            }}"
          >
            <i class="fa fa-times" aria-hidden="true"></i> 8 to 20 characters
          </div>
          <div
            class="erorr-checed {{
              checkChar ? 'color-sucess' : 'color-erorr'
            }}"
          >
            <i class="fa fa-check" aria-hidden="true"></i> Letters, numbers, and
            special characters
          </div>
        </div>
        <input
          type="Password"
          class="rigester-input mt-1"
          placeholder="Re-Password"
          formControlName="reNewPassword"
          required
          (change)="CheckRePassWord()"
        />
        <div *ngIf="!checkRePass">
          <p class="color-erorr">Your RePassword Must Match With NewPassword</p>
        </div>
      </div>

      <hr />
      <div class="col-lg-12 mb-4">
        <div class="form-group focused">
          <button
            type="submit"
            class="btn-sinup {{
              !createForget.valid || !checkRePass
                ? 'bg-color-disable'
                : 'bg-color-ok'
            }} "
            [disabled]="!createForget.valid || !checkRePass"
          >
            Reset Password
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
