<!-- Header -->
<div
  *ngIf="user.imagePath"
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 600px;
    background-image: url(../../../assets/images/{{user.imagePath}});
    background-size: cover;
    background-position: center;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello @{{ user.userName }}</h1>
        <p class="text-white mt-0 mb-5">
          This is your profile page. You can see the progress you've made with
          your work and manage your projects or assigned tasks
        </p>
        <a routerLink="/home" class="btn btn-info">Make Your Day</a>
      </div>
    </div>
  </div>
</div>
