.container-nav {
  width: 1263px;
  margin: auto;
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 25px !important;
}
main {
  display: flex;
}

.left {
  flex: 0.35;
  height: 90vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.left:hover {
  overflow-y: scroll;
}

.btns {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 8rem;
  margin-right: 1rem;
  width: 90%;
}

.btns > a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(22, 24, 35);
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 5px;
}

.btns > a:hover {
  background-color: rgb(245, 245, 245);
}

.btns > a:first-child > i,
.btns > a:first-child > span {
  color: rgb(254, 44, 85);
}

.btns > a > i {
  margin-right: 1rem;
}

.login {
  margin-top: 1rem;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 1rem;
  margin-left: 8rem;
  margin-right: 1rem;
  width: 90%;
}

.login > p {
  color: rgba(22, 24, 35, 0.5);
  font-size: 0.9rem;
  line-height: 25px;
  width: 70%;
}

.login > button {
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid rgb(254, 44, 85);
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(254, 44, 85);
  cursor: pointer;
  border-radius: 5px;
  height: 3rem;
  width: 70%;
}

.login > button:hover {
  background-color: rgba(245, 44, 86, 0.05);
}

.accounts {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 1rem;
  margin-left: 8rem;
  margin-right: 1rem;
  width: 90%;
}

.accounts > p {
  margin-top: 1rem;
  color: rgb(22, 24, 35, 0.75);
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.user {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.user:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.user > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0.5px solid #000;
}

.user > h6 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 1rem;
}

.tags {
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 8rem;
  margin-right: 1rem;
  width: 70%;
}

.tags > p {
  margin-top: 1rem;
  color: rgba(22, 24, 35, 0.75);
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tags > div {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 5px;
}

.tags > div > a {
  text-decoration: none;
  color: rgba(22, 24, 35, 0.75);
  font-size: 0.9rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tags > div > a:hover {
  background-color: rgb(245, 245, 245);
}

.links {
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 8rem;
  margin-right: 1rem;
  width: 60%;
}

.links > div {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 5px;
}

.link > a {
  font-size: 0.8rem;
  text-decoration: none;
  color: rgb(80, 80, 80);
}

.link > a:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 1rem;
  color: rgb(80, 80, 80);
}

.right {
  flex: 0.65;
  height: 90vh;
  overflow-y: scroll;
}

.post {
  margin-top: 2rem;
  margin-right: 4rem;
  height: 38rem;
  width: 80%;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.post-info > .user:hover {
  background-color: transparent;
}

.post-info > .user > img {
  height: 60px;
  width: 60px;
}

.post-info > .user > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin-left: 0.5rem;
}

.post-info > .user > div > h6 {
  font-size: 1rem;
}

.post-info > .user > div > h6:hover {
  text-decoration: underline;
}

.post-info > .user > div > p {
  font-size: 0.8rem;
  font-weight: 600;
}

.post-info > button {
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid rgb(254, 44, 85);
  color: rgb(254, 44, 85);
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  height: 1.7rem;
  width: 5.7rem;
}

.post-info > button:hover {
  background-color: rgba(254, 44, 86, 0.05);
}

.post-content {
  display: flex;
  width: 20rem;
  margin-bottom: 1rem;
  position: relative;
}

.post-content > video {
  width: 90%;
  border-radius: 10px;
  margin-left: 5rem;
}

.video-icons {
  position: absolute;
  top: 55%;
  left: 120%;
}

.video-icons > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
}

.video-icons > a > i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.video-icons > a > i:hover {
  background-color: rgb(230, 230, 230);
}

.video-icons > a > span {
  font-size: 0.7rem;
  color: rgb(80, 80, 80);
  font-weight: 600;
  margin-bottom: 0.7rem;
}

video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
  display: none;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .search-bar {
    display: none;
  }

  .menu {
    z-index: 10;
  }

  .left {
    flex: 0.1;
    border: none;
    border-right: 1px solid rgb(200, 200, 200);
  }

  .left:hover {
    overflow: hidden;
  }

  .right {
    flex: 0.9;
  }

  .btns {
    margin: 0;
    align-items: center;
  }

  .btns > a > span {
    display: none;
  }

  .login {
    display: none;
  }

  .accounts {
    margin: 0;
    border: none;
    align-items: center;
  }

  .accounts > p {
    display: none;
  }

  .accounts > .user > h6 {
    display: none;
  }

  .user {
    padding-left: 0;
  }

  .tags {
    display: none;
  }

  .links {
    display: none;
  }

  .post-content > video {
    margin-left: 2rem;
  }

  .video-icons {
    left: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
  color: #000;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.text-black {
  color: #000;
}

.content {
  padding: 7rem 0;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.form-control {
  border: none;
  border-bottom: 1px solid #000;
  padding-left: 0;
  padding-right: 0;
  border-radius: 8px;
  background: none;
}
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.col-form-label {
  color: #000;
  font-size: 13px;
}
.controle-form-erorr{
  color: red;
  font-size: 9px;
}
.btn,
.form-control,
.custom-select {
  border-radius: 0;
}

.custom-select {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}
.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn {
  border: none;
  border-radius: 0;
  font-size: 11px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 30px !important;
}
.btn.btn-primary {
  border-radius: 30px;
  background: #ef4339;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
  box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
}
.btn:hover {
  color: #fff;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact-wrap {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #efefef;
}
.contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}
.contact-wrap .form,
.contact-wrap .contact-info {
  padding: 40px;
}
.contact-wrap .contact-info {
  color: rgba(255, 255, 255, 0.5);
}
.contact-wrap .contact-info ul li {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.contact-wrap .contact-info ul li .wrap-icon {
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
}
.contact-wrap .form {
  background: #fff;
}
.contact-wrap .form h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact-wrap .contact-info {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.contact-wrap .contact-info a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 1199.98px) {
  .contact-wrap .contact-info {
    height: 400px !important;
  }
}
.contact-wrap .contact-info h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #b90b0b;
}

#form-message-success {
  color: #55a44e;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}
